{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Masala Cup</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Welcome to Coffee Lovers Café ☕</h1>
    {% for coffee in coffees %}
        <div class="coffee-card">
            <img src="{{ coffee.image.url }}" alt="{{ coffee.name }}">
            <h2>{{ coffee.name }}</h2>
            <p>{{ coffee.description }}</p>
            <div class="price">₹{{ coffee.price }}</div>
        </div>
    {% endfor %}
</body>
</html>
